---
layout: default
title: Plan
canonical_path: "/stages-devops-lifecycle/plan/"
suppress_header: true
extra_css:
  - features-v2.css
  - release-posts.css
  - product.css
---

= partial "includes/stages/stage-page", locals: { solution: data.stages.stages.plan, solution_name: "plan" }
